<div class="jumbotron">
  <div class="container">
    <h1 class="display-7">displaying "PRODUCT" category</h1>
    <p>This is first page imple user interface displayd</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Products
        </a>
      </div>
      <div class="col-sm">
        <a href="/intervaltimer"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-mobile"></i></span>
       <br>Friends
     </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-users"></i></span>
       <br>Friends
     </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-users"></i></span>
       <br>Friends
     </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
        role="button"
        class="btn btn-outline-primary btn-lg btn-block text-center">
       <span><i class="fa fa-users"></i></span>
       <br>Friends
     </a>
      </div>
    </div>
    <div class="row my-5">
    <div class="col-sm">
        <div class="card">
            <img width="200px" height="160px"  src="/assets/images/1.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">laptop</h5>
              <p class="card-text">Some quick example text's content.</p>
              <a href="#" class="btn btn-primary">View laptop</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <img width="200px" height="160px"  src="/assets/images/2.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">laptop</h5>
              <p class="card-text">Some quick example text's content.</p>
              <a href="#" class="btn btn-primary">View laptop</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <img width="200px" height="160px"  src="/assets/images/donate.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">Some quick example text's content.</p>
              <a href="#" class="btn btn-primary">View mobile</a>
            </div>
          </div>
    </div>
   
  </div>
  </div>
